*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    background-color: hsl(210, 46%, 95%);
    padding: 3rem 1.5rem;
}

.card{
    background-color: rgb(32, 19, 226);
    border-radius: .5rem;
    padding: 1.625rem 2rem 2rem;
    margin: 0 auto 1.5rem;
    color: white;
    max-width: 434px;
}

.card-header{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.card-header img{
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid hsl(263, 55%, 52%);
    margin-right: 1rem;
    width: 45px;
}

.card-header h2{
font-size: 1rem;
font-weight: 600;
margin-bottom: .1rem;
}

.card-header p{
    font-size: .9rem;
    color: hsl(0, 0%, 81%);
}

.card p:last-child{
font-weight: 500;
font-size: 0.8125rem;
line-height: 1.25;
color: #CFCFCF;
opacity: 0.7;
}

.card-description{
    font-weight: 600;
font-size: 1.25rem;
line-height: 1.25;
margin-bottom: 2.5rem;
color: white;
}

#first-card{
    /* color: #733FC8; */
    background: /* bottom, image */
    url(images/bg-pattern-quotation.svg),
    /* top, transparent red */ 
    linear-gradient(
        #733FC8, 
        #733FC8
    );
    background-position:
    top 0 right 15%;
    background-size: 25%, 100%;
    background-repeat: no-repeat;
    grid-area: first-card;
}

#second-card{
background-color: #48556A;
grid-area: second-card;
}

#third-card{
background-color: white;
color: #48556A;
grid-area: third-card;
}

#third-card .card-description{
    color: #48556A;
}

#third-card p:last-child{
    color: #48556A;
}

#fourth-card{
background-color: #19202D;
grid-area: fourth-card;
}

#fifth-card{
background-color: white;
color: #48556A;
grid-area: fifth-card;
}

#fifth-card .card-description{
    color: #48556A;
}

#fifth-card p:last-child{
    color: #48556A;
}

@media screen and (min-width: 600px){

    body{
        padding: 4rem 0;
    }
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "first-card first-card second-card fifth-card"
    "third-card fourth-card fourth-card fifth-card";
    grid-gap: 1.5rem;
    width: 94%;
    margin: 0 auto 2rem;
    max-width: 1200px;
}

.card{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.card-description{
    font-size: 1.6rem;
}

.card p:last-child{
    font-size: .9rem;
}
}